footer.footer 
	.container 
		.footer-top 
			.footer-column
				a(href= "index.html").footer-heading.footer-heading--logo MoGo 
				p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				p.footer-follower <strong>15k</strong> followers 
				.footer-social 
					span.text Follow Us:
					.footer-social-list 
						a.footer-social-icon(herf="#!")
							i.fab.fa-facebook
						a.footer-social-icon(herf="#!")
							i.fab.fa-twitter
						a.footer-social-icon(herf="#!")
							i.fab.fa-instagram
						a.footer-social-icon(herf="#!")
							i.fab.fa-pinterest
						a.footer-social-icon(herf="#!")
							i.fab.fa-google
						a.footer-social-icon(herf="#!")
							i.fab.fa-youtube
				form.footer-form(action="#!")
					input(type="email" placeholder="Your Email").footer-form-input
					button.footer-form-button Subscribe
			.footer-column
				h3.footer-heading Blog
				a(href="#!").footer-blog 
					img.footer-blog-image(src= "./images/img-blogs1.png")
					.footer-blog-info 
						h4.footer-blog-title Lorem ipsum dolor sit amet, consectetur adipiscing
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#!").footer-blog 
					img.footer-blog-image(src= "./images/img-blogs2.png")
					.footer-blog-info 
						h4.footer-blog-title Consectetur adipiscing elit, sed do eiusmod tempor
						span.footer-blog-date.text.text--light Jan 9, 2016
				a(href="#!").footer-blog 
					img.footer-blog-image(src= "./images/img-blogs3.png")
					.footer-blog-info 
						h4.footer-blog-title sed do eiusmod tempor incididunt ut labore
						span.footer-blog-date.text.text--light Jan 9, 2016
			.footer-column
				h3.footer-heading Instagram
				.footer-image 
					.footer-img
						img(src= "https://images.unsplash.com/photo-1549880181-56a44cf4a9a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1499678329028-101435549a4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1501446690852-da55df7bfe07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1508144753681-9986d4df99b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1573126617899-41f1dffb196c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
					.footer-img
						img(src= "https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
				a(href="#!").footer-image-more.text.text--light View more photo
		.footer-bottom &copy; 2016 MoGo free PSD template by <a href= "https://www.linkedin.com/in/ph%E1%BA%A1m-th%C3%A0nh-%C4%91%E1%BA%A1t-b194b5238/">Thanh Dat</a>