section.team 
	.container 
		+blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nihil nobis, veritatis ducimus voluptatibus quod, voluptatem, neque in illum debitis quaerat esse mollitia a placeat perspiciatis! Vero accusamus explicabo quis!")
		.team-list 
			+teamItem("./images/img-team1.png","Matthew Dix","Graphic Design")
				+teamSocial
			+teamItem("./images/img-team2.png","Christopher Campbell","Branding/UX design")
				+teamSocial
			+teamItem("./images/img-team3.png","Developer","Michael Fertig ")
				+teamSocial

section.brand 
	.container 
		img.brand-img(src="./images/img-logos.png", alt="image")